{% extends "tienda/layout.html" %}

{% block content %}
{% if not request.user.is_authenticated%}
 session["carro"]={}
 session.modified=True
{%endif%}

<p>Has sido desconectado.</p>

<a href="{% url 'login'%}">Click aqui para volver a acceder.</a>

{% endblock %}