
{% extends "tienda/layout.html" %}

{% block content %}
<div class="card bg-light text-center" width="50%">
  <p></p>
  <p></p>
{% if form.errors %}
<p>El usuario y la clave no coinciden, por favor intente nuevamente.</p>
{% endif %}

<div class="border-dark border-lg bg-lg"></div>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class="text-center">
  <td>Usuario</td>
  <td>{{ form.username }}</td>
</div>
<p></p>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div >
  <input type="submit" value="ACCEDER" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Asume que configuras la vista password_reset en tu URLconf #}

<p><a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a></p>
</div>

</div>
{% endblock %}