{% extends "tienda/layout.html" %}

{% block content %}



<div class="wrapper fadeInDown">
    <div id="formContent">

    <h3>Formulario para cambiar su clave</h3>
    <p>Debe ingresar el correo electrónico que usó al registrarse:</p>

    <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %} 
            {{ form.email.errors }} 
        {% endif %}
        {{ form.email }}
        <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
    </form>

    </div>
</div>

<p><a href="{% url 'login' %}">Volver al Login</a></p>

{% endblock %}