{% extends "tienda/layout.html" %}

{% block content %}

{% if validlink %}
    
    <div class="wrapper fadeInDown">
        <div id="formContent">

            <p>Ingrese (y confirme) su nuevo password.</p>

            <form action="" method="post">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                {{ form.new_password1.errors }}
                <label for="id_new_password1">Nuevo password:</label>
                {{ form.new_password1 }}</td>

                {{ form.new_password2.errors }}
                <label for="id_new_password2">Confirmar password:</label>
                {{ form.new_password2 }}</td>

                <input type="submit" value="Cambiar Password" />             
            </form>
        </div>
    </div>

{% else %}
    <h1> Error al restablecer la contraseña </h1>
    <p> El enlace para restablecer la contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña. </p>
{% endif %}
<p><a href="{% url 'login' %}">Volver</a></p>
{% endblock %}