{% extends "tienda/layout.html" %}

       
{% block content %}

<h4 class="text-center">Acerca de la empresa</h4>
<jumbotron class="fixed-canter" >
<p></p>
<h5 class="text-success">Yaguarete S.A tiene sus orígenes en el año 2.000 , cuando un grupo de amigos se asoció para emprender. </h5>
<p></p>
<h5 class="text-success">Nuestra misión se basa en brindar la mejor atencion a nuestros clientes, brindando los  productos de la mejor calidad </h5>
<p></p>
</jumbotron>
{% endblock %}