{% extends "tienda/layout.html" %}

       
{% block content %}

{%if buscado%}
<h5 class="text-center">Coincidencias para: {{buscado}}</h5>

{% for it  in items_encontrados %}
<ul class="list-group-xs" padding="10px 10px 10px 10px">
   <li class="list-group-item list-group-item">  
   {%if not request.user.is_superuser%}            
     <a href="{% url 'mostrar_producto' it.id%}"<h6>{{it.titulo}}  --    {{it.descripcion}}</h6>
   {%else%}
   <a href="{% url 'edicion_producto' it.id%}"<h6>{{it.titulo}}  --    {{it.descripcion}}</h6> 
   {%endif%} 
</li>
</ul>
{%empty%}
<h4 class="text-center">No se encontraron resultados para la busqueda efectuada</h4>
{%endfor%}


{%else%}
<h5 class="text-center">No ingresó nada a buscar</h5>
{%endif%}
{% endblock %}