{% extends "tienda/layout.html" %}

       
{% block content %}
{% if request.user.is_authenticated%}
{%if not request.user.is_superuser%}
<h4 class="text-center">Carrito de compra del usuario: {{request.user}}</h4>
<div class="table-responsive" width="80%">
    <table class="table table-striped bg-light">
                <thead>
                    <th class="text-center" style="width: 25%";>Producto</th>
    
                    <th class="text-center">Precio</th>
                    <th style="width: 28%">Cantidad</th>
                
                </thead>
                <tbody>
                    {% if request.session.carro.items %}
            
                    {% for key, value in request.session.carro.items %}
              
                          
                      <input type="hidden" type="text" name="iditem" id="iditem" 
                      value={{value.id}}>
                        <tr>
                            <td class="text-center">{{value.titulo}}
                          </td>
                          <td class="text-center"><input type="number" name="precio"
                            id="precio" value={{value.precio}}  style="width: 25%"   readonly="true">
                            
                            <br/>
                           </td>
                           <td class="text-center"><input type="number" name="cantidad" id="cantidad" style="width: 15%" 
                            min="0" max="500" size="3" value={{value.cantidad}} readonly="true">
                            <a href="{% url 'agregar' value.producto_id %}" class="btn btn-sm btn-success">+</a>
                            <a href="{% url 'restar' value.producto_id %}" class="btn btn-sm btn-success">-</a>
                            <a href="{% url 'eliminar' value.producto_id %}" class="btn btn-sm btn-danger">Quitar producto</a> 
                           </td>
   
                         
              

                        </tr>
           
                    {%endfor%}
                {%else%}
                <tr>

                    <td colspan="3">
                        <div class="alert alert-danger text-center">
    
                            El carro no tiene productos cargados
                        </div>
    
                    </td>
    
                </tr>
            {% endif %} 
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
            
                            <h4 class="text-center border">Total $: {{importe_total_carro}} </h4>
                            <p></p>
                            <a href="{% url 'limpiar'%}" class="btn btn-sm btn-success">Vaciar carrito</a> 
                            <a href="" class="btn btn-sm btn-success" onclick="saludar()">Enviar carrito</a> 
                        </td>
                          
            
            
                    </tr>
                </tfoot>     
    </table>

</div>
{%else%}
<h4>No tiene permiso para ver el carrito</h4>
{%endif%}
{%else%}
<h5>Para llenar el carrito debe conectarse como usuario normal</h5>
{%endif%}
{% endblock %}