{% extends "tienda/layout.html" %}

       
{% block content %}

        <h5 align="center">Datos de contacto</h5>
<p></p>
<h4>Nos encontramos en pleno Centro de Cordoba en la Calle Ssn jeronimo 500, no dudes en
        contactarte con nosotros para efectuar cualquier consulta.Contáctanos en nuestra dirección de <a href="mailto:contacto@yaguarete.com">email</a></h4>
  
{% endblock %}