{% extends "tienda/layout.html" %}
{% block content %}
<div="container">
    <div class="shadow-lg">       
 {%if request.user.is_superuser%}       
<h3>Edición -Borrado de producto</h3>
<form  enctype="multipart/form-data" action="{%url 'edicion_producto' un_producto.id%}" method="post" >
    {% csrf_token %}
    <div class="form-group row text-center">
        <label for="titulo_input"  class="col-sm-2 col-form-label">Titulo:</label>
        {{ form.titulo }} {{ form.titulo.errors }}
    </div>
    <div class="form-group row">
        <label for="imagen_input"  class="col-sm-2 col-form-label">Imagen Adjunta:</label>
        {{form.imagen}} {{ form.imagen.errors}}
    </div>
    <div class="form-group row">
        <label for="categoria_input"  class="col-sm-2 col-form-label">Categoria</label> 
        {{ form.categoria}} {{ form.categoria.errors }}
    </div>
    <div class="form-group row">
        <label for="descripcion_textArea"  class="col-sm-2 col-form-label">Descripcion</label> 
        {{ form.descripcion }} {{ form.descripcion.errors }}
    </div>


 
    <div class="form-group row">
        <label for="precio_input"  class="col-sm-2 col-form-label">Precio $</label> 
        {{ form.precio }} {{ form.precio.errors }}
    </div>  
    <!--<div class="form-group row"  class="col-sm-2 col-form-label">
        <label for="contenido_input">Contenido:</label><br> {{ form.contenido }} {{ form.contenido.errors }}
        <script>$("#id_contenido").removeAttr("required");</script>-->
    </div>
    <div class="col-auto">
        <a class="btn btn-secondary" type="button" href="{% url 'index'%}">Volver</a>
        <input type="submit" class="btn btn-primary" value="Editar">
        <a class="btn btn-danger  " href="{%url 'eliminar_producto_bd' un_producto.id%}">Eliminar</a>
    </div>
    
</form>

{%else%}
 <h4>No tiene permisos para dar de alta productos</h4>
{%endif%}
</div>
</div>
{% endblock %}




