{% extends "tienda/layout.html" %}

       
{% block content %}
{% if lista_productos%}
 
<h5 align="center">Categoria buscada - {{categoria_seleccionada.descripcion}}</h5>

{% for producto in lista_productos %}
<ul class="list-group-xs" padding="20px 30px 20px 10px">
<li class="list-group-item list-group-item-secondary">
   {%if not request.user.is_superuser%}           
     <a href="{% url 'mostrar_producto' producto.id%}"><h6>{{producto.titulo}}  -  {{producto.descripcion}}</h6></a>
   {%else%}
     <a href="{% url 'edicion_producto' producto.id%}"><h6>{{producto.titulo}}  -  {{producto.descripcion}}</h6></a>
   {%endif%}
</li>
</ul>
{% empty %}
<h5 class="text-center">No hay productos en la categoria seleccionada</h5>
{% endfor %}
{%else%}
<h5 class="text-center">No hay productos en la categoria seleccionada</h5>
{%endif%}




{% endblock %}
