{% extends "tienda/layout.html" %}

{% block content%} 
<div="container">
    <div class="shadow-lg">
        <p></p>
        <h5 align="center">Ultimos productos agregados</h5>

       
        <div class="row" style="padding:10px 10px 10px 10px">
            {% for primero in primeros_productos %}  

            <div class="col-4">
     

                <div class="card" style="padding:10px 10px 10px 10px">
              

                    <div class="card-body text-center" name="tarjeta" id="">

                        <class="card-text"><label class="text-center"><h5>{{primero.titulo}}</h5></label>
    
                        <p></p>
                        <class="card-text"><label class="text-center"><img src="{{primero.imagen.url}}" width="200px" height="200px"></label>
                        <p></p>
                       
                        {%if not request.user.is_superuser%}
                        <class="card-text"><a class="btn btn-md btn-success text-center" href="{% url 'mostrar_producto' primero.id%}">Ver</a>
                            <p></p>
                        {%else%}
                        <class="card-text"><a class="btn btn-md btn-success text-center" href="{% url 'edicion_producto' primero.id%}">Editar</a>
                        <p></p>
                        {%endif%} 
                        
                    </div>
                    </div> 
                </div>
    
                 {%endfor%}
                </div>
    
    <div class="card card-responsive" width="70%" style="padding:30px 30px 30px 30px">
        <h6 align="center">Más productos</h6>
        <ul class="list-group-xs" padding="20px 30px 20px 10px">
        
            {% for primero in ultimos_productos%}
            {%if not request.user.is_superuser%}
            <li class="list-group-item list-group-item-secondary"> 
                 <h8><a href="{% url 'mostrar_producto' primero.id%}">{{primero.titulo}} - {{primero.descripcion}}</a></h8>
            </li>
            {%else%}
            <li class="list-group-item list-group-item-secondary"> 
                <h8><a href="{% url 'edicion_producto' primero.id%}">{{primero.titulo}} - {{primero.descripcion}}</a></h8>
           </li>
            {%endif%}
            {%endfor%}
        </ul>
        </div>
  </div>
</div>

{%endblock%}