{% extends "tienda/layout.html" %}

       
{% block content %}
{% if request.user.is_authenticated%}
{%if not request.user.is_superuser%}

<h4 class="text-center bg-success">{{producto_seleccionado.titulo}}</h4>
<div class="row" style="padding:15px 10px 40px 10px">
  <div class="col-6 text-center">
    <img class="text-center" src="{{producto_seleccionado.imagen.url}}"  width="250px" height="250px">
  </div> 
  <div  class="col border text-center">
<h5>{{categoria_seleccionada.descripcion}}</h5>
<p></p>
<h5 align="left"> {{producto_seleccionado.descripcion}}</h5>
<p></p>
<div  class="col text-center align-items-bottom" style="padding:50px 10px 80px 10px" >
  <h4>Precio $ {{producto_seleccionado.precio}}</h4>
  <a class="btn btn-xs btn-success" href="{% url 'agregar' producto_seleccionado.id%}">Agregar al carrito</a>
</div> 
</div>

   

     
 
</div>
{%else%}
 <he class="text-center">No tiene permiso de acceso para ver el producto</he>
{%endif%}

{%else%}
<h5 class="text-center">Precisa loguearse con permisos de usuario normal</h5>
{%endif%}
{% endblock %}